/*log.htmlに対するcssファイル*/
ul{
    /*footer内の要素を横並びにする*/
    display: flex;
}
.footer_log{
    /*footer内の立て並びの部分*/
    display:block
}
body{
    /*全体の背景*/
    background-color:#F6C6AD;
    /*htmlにおける空白を無くす処理*/
    margin:0px;
}
footer{
    /*footerの幅*/
    width: 100%;
    /*footer要素の背景*/
    background-color:#156082 ;
    /*ポジションを固定させる動作*/
    position: absolute;
    /*一番下に*/
    bottom: 0; 
}
h1{
    /*h1要素の幅*/
    width: 50%;
    /*テキスト位置*/
    text-align: center;
    /*太文字*/
    font-weight: bold;
    /*フォントサイズ*/
    font-size:300%;
}
h3{
    /*テキストの位置*/
    text-align: left;
    /*フォントサイズ*/
    font-size: 200%;
    /*空白の削除*/
    margin-bottom: 0px;
}
h4{
    /*テキストの位置*/
    text-align: left;
    /*フォントサイズ*/
    font-size: 120%;
    /*空白の削除*/
    margin-top:0px;
    margin-bottom: 0px;
}
p{
    /*テキストの位置*/
    text-align: left;
    /*フォントサイズ*/
    font-size: 120%;
    /*空白の削除*/
    margin-top:0px;
}
/*.card{
    text-align: center;
    height:200px;
    margin-top:10%;
}*/
label{
    font-size: 20px;
    text-align: left;
}
form{
    position:absolute ;
    /*フォームの高さ*/
    top:30%;
    /*フォームの左位置*/
    left: 30%;
    /*フォームの幅*/
    width: 500px;
}
input[type="text"], input[type="password"]{
    /*テキストボックスの幅*/
    width: 50%;
    /*テキストボックスの高さ*/
    height: 30px;
    /*テキストボックスの余白*/
    margin-bottom: 10px;
    /*フォントサイズ*/
    font-size: 20px;
}
#la{
    /*ラベルの幅*/
    width: 20%;
    /*ラベルの位置*/
    text-align: left;
}
.card{
    position: relative;
}