<html lang="ja">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="generator" content ={Astro.generator}/>
		<link rel = "icon" type="image/svg+xml" href = "/favicon.svg"/>
		<title>ポートフォリオ大学（カメラでログイン）</title>
	</head>
    <body>
     <video id="camera" autoplay></video>
    <canvas id="picture"></canvas>
    <button id="shutter">シャッター</button>
    </body>
    <script>
        const video = document.querySelector("#camera");
        const canvas = document.querySelector("#picture");
        const shutter = document.querySelector("#shutter");

        // カメラ映像の取得
        navigator.mediaDevices.getUserMedia({ video: true, audio: false })
        .then(stream => {
        video.srcObject = stream;
        })
        .catch(err => console.error("カメラの起動に失敗しました:", err));
</script>
</html>